#page {
    width: 90%;
    margin: 1em auto;
    border: 1px solid #ccc;
    padding: 0.25em 0.5em;
    overflow: auto;
    background-color: white;
    border-radius: 8px;
}

#userAuth {
    margin: 20px;
}

.presentation {
    padding:10px;
    margin-bottom: 20px;
}
.presTitle {
    font-size:35px;
}

.footer {
    background:#f2f2f2; 
    padding:10px;
}